.weather-app {
  margin: 0 20px;
}

.forecast-details {
  margin-top: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.forecast-details__maxTemperature {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.forecast-details__minTemperature {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.forecast-details__wind {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.forecast-details__humidity {
  font-size: 15px;
  margin-top: 10px;
  font-weight: bold;
}

.forecast-details__date {
  font-weight: bold;
  font-size: 1.5rem; 
}


.App-header {
  background-color: #282c34;
  /* background-color: #eceef1; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: Orbitron;
}

.App-link {
  color: #61dafb;
}

.search-form {
  padding-bottom: 20px;
}

.search-form button {
  display: inline-block;
  padding: .1rem .1rem;
  background-color: black;
  color: white;
  font-size: 1.rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.search-form button:hover {
  background-color: white;
  color: black;
}

.search-form button:active {
  background-color: white;
  color: red;
}
