.forecast-summaries {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

.forecast-summary button {
    display: inline-block;
  padding: .2rem .2rem;
  background-color: black;
  color: white;
  font-size: 1.rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.forecast-summary button:active {
    background-color: white;
    color: black;
  }


